

// body {
//   min-height: 100vh;
//   display: grid;
//   align-items: center;
// }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container_floating_right {

  float: right;
  width: 40%;
  margin: 4px 4px 4px 4px;
  overflow: auto;

  & > div.image_legend_container {
    border: 2px solid #ebebeb;
    padding: 0px;
    display: flex;
    flex-direction: column;
  
    & > img {
      max-width: 100%;
      object-fit: contain;
    }
    & > p {
      text-align: center;
      margin: 4px;
    }
  }
}

div.container_floating_left {

  float: left;
  width: 40%;
  margin: 4px 4px 4px 4px;
  overflow: auto;

  & > div.image_legend_container {
    border: 2px solid #ebebeb;
    padding: 0px;
    display: flex;
    flex-direction: column;
  
    & > img {
      max-width: 100%;
      object-fit: contain;
    }
    & > p {
      text-align: center;
      margin: 4px;
    }
  }
}

div.container_floating_center {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: auto;

  & > div.image_legend_container {
    padding: 0px;
    display: flex;
    flex-direction: column;
  
    & > img {
      max-width: 100%;
      object-fit: contain;
    }
    & > p {
      text-align: center;
      margin: 4px;
    }
  }
}

img.droplet-border {
  border-radius: 0 50% 50% 50%;
  max-width: unset;
}

div.contributor-footer {
  
  display: flex;
  padding: 8px 8px 8px;
  flex-direction: row;

  & > div.c-f-image {
    flex: 0 1 auto;
	 align-self: flex-start;
	 padding-right: 8px;
  }
  & > div.c-f-infos {

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    & > div.c-f-i-name {
      font-size: 1.3em;
      font-weight: 700;
      flex: 0 1 auto;
    }
    & > div.c-f-i-bio {
      font-size: 0.8em;
      flex: 1 1 auto;
    }
  }
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  & > div {
    flex: 1 1 5ch;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    display:flex;
    flex-direction:column;

    &.large-input {
      flex-basis: 15ch;
    }

    &.small-input {
        min-width: 10ch;
    }

    &.flex-shrink-0 {
      flex-shrink: 0;
    }

    &.flex-grow-2 {
      flex-grow: 2;
    }

    &.flex-grow-3 {
      flex-grow: 3;
    }

    &.traits > div {
      flex: 1 1 5ch;
      // margin-left: .5rem;
      // margin-right: .5rem;
      margin-top: .2rem;
      margin-bottom: .2rem;
      display:flex;
      flex-direction:column;
    }

    & > div.traits-title {
      & > span {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: -0.2rem;
      }
    }
  }
}

textarea {
  resize: none;
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
}

input {
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  
  &[type="submit"] {
    background: hotpink;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0, 50%, 80%);
  }
}

.downwards-margin {
    margin-bottom: 3ch;
}

.error-info-bold {
    font-weight: 700;
}

/*
** Classic RtW-Table
*/

table.rtw-table {
    border: 2px solid #538135;
    background-color: #E2EFD9;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.rtw-table td, table.rtw-table th {
    border: 1px solid #AAAAAA;
    background-color: unset !important;
    padding: 3px 2px;
}
table.rtw-table tr:nth-child(even) {
    background: #C5E0B3;
}

table.rtw-table thead {
    background: #538135;
}

table.rtw-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

/*
** RtW Creature Table
*/

.small-numbers-table {
  th,
  td {
      min-width: 30px;
  }
}

.creature-table {
  table {
      border-collapse: collapse !important;
      border: 1px solid #538135 !important;
      min-width: 50% !important;
      max-width: 50% !important;

      @include mq(sm) {
        max-width: 100% !important;
      }
  }

  th,
  td {
      min-width: 30px;
      padding-top: 0;
      padding-right: $sp-3;
      padding-bottom: 0;
      padding-left: $sp-3;
//        border-bottom: $border #538135;
//        border-left: $border #538135;
//        border-right: $border #538135;

      &:first-of-type {
//            border-left: $border #538135;
      }
  }

  tbody {
      tr {
        &:last-of-type {
          th,
          td {
//              border-bottom: $border #538135;
          }
    
          td {
            padding-bottom: 0;
          }
        }
      }
    }
    
    thead {
      th {
        border-bottom: $border #538135;
      }
    }
}

.creature-title-bg {
background-color: #538135;
}

.creature-content-bg-light {
background-color: #E2EFD9;
}

.creature-content-bg-dark {
background-color: #C5E0B3;
}

